# Environment files
.env
.env.dev
.env.prod

# Virtual environments
.venv/
venv/
env/
ENV/

# Python caches and build artifacts
__pycache__/
*.py[cod]
build/
dist/
*.egg-info/
.ruff_cache/



# Editor and OS files
*.swp
*.swo
*~
.DS_Store

# Runtime data
logs/
sqlite_data/

#others
开发文档/
.vscode/

